<%= render 'shared/header', header: "Welcome to Chatter!" %>

<div class="well">
  <h3>About Us</h3>
  <p>Chatter is a full featured ruby on rails social media application for updating your status and following the statuses of your friends. You can checkout popular topics or tag topics yourself with hashtags in your post.</p>  
  <p>Signing up is simple.  Just click the Register link up at the top and fill out the form, and you are on your way to chatting it up!.  If you already have an account go ahead and click the login above and chat away.</p>
</div>