<%= render'shared/header', header: "Mentions" %>

<ul>
<% current_user.mentions.each do |mention| %>
  <li><%= mention.status.body %> by <%= mention.status.creator.username %> at <%= mention.status.created_at %></li>
<% end %>
</ul>