<%= render'shared/header', header: "Mentions" %>

<% current_user.mentions.each do |mention| %>
  <div class="panel panel-default col-sm-7">
    <div class="panel-body"><%= render 'statuses/status', status: mention.status %></div>
  </div>
<% end %>
