<%= render 'shared/header', header: 'Timeline' %>
<% @statuses.each do |status| %>
  <div class="panel panel-default col-sm-7">
    <div class="panel-body"><%= render 'statuses/status', status: status %></div>
  </div>
<% end %>
